.auth-form {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 358px;
    margin: 0 auto;
    height: calc(100vh - 300px);
    padding-top: 20px;
}

.auth-form__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    padding: 0;
    margin: 0 0 37px 0;
}

.auth-form__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.auth-form__input {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #fff;
    /* padding: 0 15px; */
    margin: 0 0 20px 0;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #fff;
    background-color: transparent;
    box-sizing: border-box;
}



.auth-form__input:focus {
    outline: none;
}

.auth-form__input:focus::placeholder {
    color: transparent;
}

.auth-form__footer {
    height: 100%;
    max-height: 400px;
    flex-grow: 1;
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
    box-sizing: border-box;
    width: 100%;
}

.auth-form__submit-button {
    width: 100%;
    padding: 14px 84px;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    display: block;
}

.auth-form__submit-button:hover {
    transition: .3s linear;
    transform: scale(1.1);
}

.auth-form__footer-text {
    padding: 15px 0 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;

    color: #fff;
}

.auth-form__footer-link {
    text-decoration: none;
    color: #fff;
}

.auth-form__footer-link:hover {
    color: green;
}